{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Automobile Management system</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}"/>

</head>
<body style="background-image: url('{% static 'images/loginn.webp' %}');
background-repeat:no-repeat;background-size:100%;";>
<a href="{% url 'registration'%}"><font color="white">Sign-up | </font></a>
<a href="{% url 'login'%}"><font color="white">Login | </font></a>
<a href="{% url ''%}"><font color="white"> Home | </font></a>
<a href="{% url 'contact'%}"><font color="white"> Contact | </font></a>
<a href="{% url 'about'%}"><font color="white"> About Us | </font></a>
<a href="{% url ''%}"><font color="white"> Add Packages | </font></a>
<a href="{% url 'viewplaces'%}"><font color="white"> View Packages | </font></a>
<a href="{% url 'logout'%}"><font color="white"> Log Out | </font></a>

<br>
{% block 'b1' %}
<h2 align="center"><font color="white">Automobile Management</font></h2>
<form method="post" action="{% url 'checkpackage' %}" >
    {% csrf_token %}
    <table align="center" border="2">
        <tr>
            <td>Enter Car Model</td>
            <td><input type="text" name="carmodel"></td>
        </tr>
        <tr>
            <td>Enter Car Company</td>
            <td><input type="text" name="carcom"></td>
        </tr>
        <tr>
            <td>Enter Registration Number</td>
            <td><input type="text" name="regno"></td>
        </tr>
        <tr>
            <td>Enter Car Colour</td>
            <td><input type="text" name="carcolor"></td>
        </tr>
        <tr>
            <td>Enter Chassis Number</td>
            <td><input type="text" name="chno"></td>
        </tr>
        <tr>
            <td align="center"><input type="submit" value="insert"</td>
            <td align="center"><input type="reset" value="clear"></td>
        </tr>
    </table>
</form>
<div>
     {% for message in messages %}
    <h4 align="center" style="color: white;">{{message}}</h4>
    {% endfor %}
</div>
{% endblock %}
</br>
</body>
</html>
